<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Удаление аккаунта &bull; Account deletion</title>
</head>
<body>
    <h1>Удаление аккаунта &bull; Account deletion</h1>
    <p>В этой инструкции вы найдете информацию о том, как удалить аккаунт, если вы регистрировались с помощью Facebook.</p>
    <p>In these instructions you will find information on how to delete your account if you registered with Facebook.</p>

    <h2>Русская версия</h2>
    <p>Если вы хотите удалить свой аккаунт, пожалуйста пришлите <a href="https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711">свой ID</a> на почту <b>privacy@mznx.ru</b>.
    <p>В теме письма укажите <b>FACEBOOK ACCOUNT DELETION</b>.
        Мы удалим всю связанную с вашим аккаунтом информацию и обязательно известим вас.</p>

    <p>Вы можете найти свой ID по ссылке: <a href="https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711">https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711</a></p>

    <h2>English version</h2>
    <p>If you want to delete your account, please send <a href="https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711">your ID</a> to <b>privacy@mznx.ru</b>.
    <p>In the subject line specify <b>FACEBOOK ACCOUNT DELETION</b>.
        We will delete all information related to your account and be sure to let you know.</p>

    <p>You can get your ID here: <a href="https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711">https://www.facebook.com/settings/?tab=applications&initial_open_app_id=388276822430711</a></p>
</body>
</html>